@use "../utils/variables";
@use "../utils/colors";

// ------------------------------------
// ESTILOS BASE GLOBALES
// ------------------------------------

body {
  background-color: colors.$color-surface;
  color: colors.$color-white;
  font-family: variables.$font-primary;
  font-size: 1rem;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

// Titulares
h1 {
  font-family: variables.$font-secondary;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: colors.$color-white;
}

h2 {
  font-family: variables.$font-secondary;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: colors.$color-white;
}

h3 {
  font-family: variables.$font-secondary;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

// Párrafos
p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
