
@use "../utils/variables";
@use "../utils/colors";

// ------------------------------------
// RESET DE ESTILOS POR DEFECTO
// ------------------------------------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}