@use "./colors"; // se importa el archivo de colores con prefijo

// ------------------------------------
// BREAKPOINTS
// ------------------------------------
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$grid-width: (
  xs: 360px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);


// ------------------------------------
// FUENTES
// ------------------------------------
$font-primary: "Inter", sans-serif;
$font-secondary: "Oswald", sans-serif;
