@use "../utils/variables";
@use "../utils/colors";

// Bloque principal del componente Text
.text {
  font-family: variables.$font-primary;
  margin-bottom: 1rem;
}

// -----------------------------
// Modificadores de tamaño
// -----------------------------

.text--sm {
  font-size: 0.875rem;
}

.text--md {
  font-size: 1rem;
}

.text--lg {
  font-size: 1.5rem;
}

// -----------------------------
// Modificadores de peso tipográfico
// -----------------------------
.text--normal {
  font-weight: 400;
}

.text--bold {
  font-weight: 700;
}

.text--semibold {
  font-weight: 600;
}

// -----------------------------
// Modificadores de color de texto
// -----------------------------
.text--white {
  color: colors.$color-text-primary;
}

.text--gray {
  color: colors.$color-text-secondary;
}

.text--black {
  color: colors.$color-surface-alt;
}

.text--error {
  color: colors.$color-error;
}

.text--success {
  color: colors.$color-success;
}